mixin popup(data)
	.card_popup.popupCard(id=data.id)
		.card_popup__in
			.card_popup__content_wrap.popupCardContent
				button.card_popup__close.popupCardClose(
					type='button',
					aria-label='close'
				)
					.card_popup__close_icon
						+icon('close', 'icon--size_mod')
				if data.input_list
					.card_popup__content
						.card_popup__content_col.card_popup__content_col--v1_mod
							.card_popup__content_decor_top
								img(src='images/graph_slider.svg' alt='popup decor')
							.card_popup__content_decor_bottom
								img(src='images/lines_slider.svg' alt='popup decor')
							.card_popup__content_col_in
								include ../../blocks/slider

						.card_popup__content_col.card_popup__content_col--v2_mod
							.card_popup__head
								.card_popup__head_icon_wrap.card_popup__head_icon_wrap--color_green_mod
									.card_popup__head_icon
										+icon('user', 'icon--size_mod')
								h2.card_popup__head_title Реєстрація

							form.card_popup__form
								.card_popup__regist
									each item, index in data.input_list
										+form_input({
											block_class: 'card_popup_form__block',
											class: 'card_popup_form__input',
											type: 'text',
											placeholder: item.placeholder,
											title: 'Popup form',
											id: `card_popup_form__input_v${index}`,
											required: true,
										})
									each item in data.type_password
										.card_popup_form__block_password
											input.card_popup_form__input.card_popup_form__input--password_mod(
												id= item.id,
												type='password',
												placeholder= item.placeholder
											)
											button.card_popup__button_show_pass.btnShowPass(
												type='button',
												aria-label='show password',
												data-input-id=item.id
											)
												+icon('eye', 'icon--size_mod')

								.card_popup__bottom
									.card_popup__bottom_title Оберіть спосіб звязку
									.card_popup__bottom_social
										each icon in ['telegram', 'skype']
											a.card_popup__bottom_social_item(href="#")
												.card_popup__bottom_social_icon
													+icon(icon, 'icon--size_mod')
										+form_input({
											block_class: 'card_popup_form__block',
											class: 'card_popup_form__input',
											type: 'text',
											placeholder: '@телеграм_адреса',
											title: 'Popup form',
											id: 'card_popup_form__input_telegram',
											required: true,
										})
								.card_popup__btn_wrap
									button.btn.btn__primary.btn__medium(type='submit') Реєстрація

				if data.login
					.card_popup__logon_wrap
						.card_popup__head
							.card_popup__head_icon_wrap.card_popup__head_icon_wrap--color_orange_mod
								.card_popup__head_icon
									+icon('lock', 'icon--size_mod')
							h3.card_popup__head_title Вхід
						form.card_popup__form
							+form_input({
								block_class: 'card_popup_form__block',
								class: 'card_popup_form__input',
								type: 'text', placeholder: 'Ваш email',
								title: 'Popup form',
								id: 'card_popup_form__input',
								required: true,
							})
							.card_popup_form__block_password
								input#card_popup_form__password.card_popup_form__input.card_popup_form__input--password_mod(
									type='password',
									placeholder='Ваш пароль'
								)
								button.card_popup__button_show_pass.btnShowPass(
									type='button',
									aria-label='show password',
									data-input-id='card_popup_form__password'
								)
									+icon('eye', 'icon--size_mod')
							.card_popup__btn_wrap
								button.btn.btn__primary.btn__medium(type='submit') Війти
